body {
  font-family:"Avenir New";
}
li {
  list-style: none;
}
.header {
  background-color:#00bfff;
  height:150px;
  width:1260px;
  color:#ffffff
}
.header-logo {
  float:left;
  font-size:36px;
  padding:20px 40px;
}
.header-list li {
  float:right;
  padding:33px 20px
}
.rpic {
  height:351px;
  width:624px;
}
.jpic {
  height:351px;
  width:624px;
}
.this-week {
  color:#000000;
  font-color:#008000;
  padding:20px 40px;
  width:160px;
  height:40px;
}
.footer {
  background-color:#4b0082;
  height:80px;
  width:1260px;
  color:#ffffff;
}
.footer-logo {
  font-size:24px;
  float:left;
  padding:0px 20px;
}
.footer-attention-links {
  font-size:12px;
  float:right;
  padding:0px 20px;
  margin:0px;
  color:#ffffff;
}
.footer-linktext {
  float:right;
  padding:0px 20px;
}
